[Unit]
Description=rslsync
After=network.target

[Service]
ExecStart=/usr/local/bin/rslsync  --config /home/{{ btsync_user }}/.sync/config.json
Type=forking
PIDFile=/home/{{ btsync_user }}/.sync/sync.pid

[Install]
WantedBy=default.target